<!DOCTYPE html>
<html lang="en">

<%- include('../header') %>

<style>
    /* input-shake */
    @keyframes shake {
        0% { transform: translateX(0); }
        20% { transform: translateX(-7px); }
        40% { transform: translateX(5px); }
        60% { transform: translateX(-3px); }
        80% { transform: translateX(1px); }
        100% { transform: translateX(0); }
    }
    .shake {
        animation: shake 0.4s ease-in-out;
    }
    .password-container {
        position: relative;
    }
    .password-container .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<body>
    <div class="wrapper border">
        <div class="main">
            <div class="content">
                <div class="container-fluid">
                    <div class = 'container' style = 'max-width:500px!important;margin-top: 50px;'>
                        <div class="text-center mb-10">
                            <a href="" class="brand-logo">
                                <img class="logo-img" alt="Logo" src="<%= site_url %>/assets/images/logo.png" style="width:90%;"/>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h1 class="card-title text-center">LOGIN</h1>
                                        <p class="card-category">Please Enter your Credential</p>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Email address</label>
                                                        <input type="email" class="form-control" name="email" id="email" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Password</label>
                                                        <div class="password-container">
                                                            <input type="password" class="form-control" name="password" id="password" required data-eye />
                                                            <i class="fas fa-eye toggle-password"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="submit" type="submit" class="btn btn-light-primary pull-right" style = 'width:100%;'>LOGIN</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(async function () {
        $("#submit").click(function () {
            const entry = {
                email: $("#email").val(),
                password: $("#password").val()
            }

            if (!entry.email) {
                const input = document.getElementById('email')
                input.classList.remove('shake')
                void input.offsetWidth // <== Force reflow
                input.classList.add('shake')

                input.focus()
                return
            }
            if (!entry.password) {
                const input = document.getElementById('password')
                input.classList.remove('shake')
                void input.offsetWidth // <== Force reflow
                input.classList.add('shake')

                input.focus()
                return
            }

            $.post({
                url: "<%= site_url + prefix %>/confirmSignIn",
                data: entry,
                dataType: "json",
                success: function (res) {
                    if (res.status === "success") {
                        window.location.href = res.url
                    } else if (res.status === "error") {
                        if (res.error === "failed") {
                            toastr.warning("Your account is not correct!")
                        }
                    }
                }, error: function (xhr, status, error) {
                    toastr.error("Error has occurred on the server!")
                }
            })

        })

        $('.toggle-password').on('click', function () {
            const passwordInput = $('#password')
            const type = passwordInput.attr('type') === 'password' ? 'text' : 'password'
            passwordInput.attr('type', type)
            $(this).toggleClass('fa-eye fa-eye-slash')
        })

    })
</script>

</html>
