<div class = "row my-3 p-10 bg-white border rounded">
    <div class = "col-12 mb-4 d-flex justify-content-between align-items-center my-5">
        <div><h3>Language</h3></div>
        <div><span id="language_component_add" class='btn btn-light-primary btn-icon'><i class='fa fa-plus'></i></span></div>
    </div>
    <div class = "col-12">
        <div class="table-responsive">
            <table class="table" id="lang_tb">
                <thead>
                    <th>Keyvalue</th>
                    <th>English</th>
                    <th>Spanish</th>
                    <th style = "width: 200px;">Action</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
           
<div class="modal fade" id="language_modal">
    <div class="modal-dialog">
        <input type="hidden" id="language_component_modal_type" />
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ">Text Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class = "row">
                    <div class = 'col-md-12'>
                        <div class="form-group">
                            <h6>Key</h6>
                            <input class="form-control" id="key" type="text">
                        </div>
                        <div class="form-group">
                            <h6>English</h6>
                            <input class="form-control" id="en" type="text">
                        </div>
                        <div class="form-group">
                            <h6>Spanish</h6>
                            <input class="form-control" id="es" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="language-update" type="button" class="btn btn-light-primary" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        const langTable = $('#lang_tb').DataTable({
            "autoWidth":false,
            "pagingType": "full_numbers",
            "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search text",
            },
            "ajax": {
                "url": "<%= site_url + prefix %>/settings/translations/read",
                "type": "POST"
            },
            "columns": [
                { data: 'keyvalue' },
                { data: 'en' },
                { data: 'es' },
                { data: 'id',
                    render: function (data, type, row) {
                    return `<div data-id="${row.id}">
                                <span class="btn btn-icon btn-sm btn-light-warning edit_language_btn"><i class="fas fa-edit"></i></span>
                                <span class="btn btn-icon btn-sm btn-light-danger delete_language_btn"><i class="fas fa-trash"></i></span>
                            </div>`
                    } 
                }
            ]
        });

        $("#language_component_add").click(function () {
            $("#language_component_modal_type").val("0")
            $("#key").val("")
            $("#en").val("")
            $("#es").val("")

            $("#language_modal").modal('show')
        })
        
        $(document).on('click', '.edit_language_btn', function() {
            $("#language_component_modal_type").val("1")
            var id = $(this).closest('div').attr('data-id')
            var keyvalue, en, es
            $.ajax({
                url: '<%= site_url + prefix %>/settings/translations/choose',
                method: "POST",
                data: {id: id},
                dataType: "json",
                success: function (data) {
                    keyvalue = data['keyvalue']
                    en = data['en']
                    es = data['es']
                }
            }).then(() => {
                window.keyvalue = keyvalue
                $("#en").val(en)
                $("#es").val(es)
                $("#key").val(keyvalue)
                $("#language_modal").modal('show')
            });
        });

        $('#language-update').click(function () {
            const type = parseInt($("#language_component_modal_type").val())

            const params = {
                id: window.id,
                keyvalue: $("#key").val(),
                en: $("#en").val(),
                es: $("#es").val()
            }
        
            $.ajax ({
                url: `<%= site_url + prefix %>/settings/translations/${type === 0 ? "add" : "update"}`,
                method: "POST",
                data: params,
                dataType: "json",
                success: function (res) {
                    if (res.status == "success") {
                        handleTableReload("ok", '#lang_tb')
                    }
                }
            })

        })

        $(document).on("click", ".delete_language_btn", function () {
            var id = $(this).parent().attr("data-id")
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: '<%= site_url + prefix %>/settings/translations/delete',
                        method: "POST",
                        data: {id: id},
                        dataType: "json",
                        success: function (res) {
                            if(res.status == "success") {
                                toastr.success('Action Success!')
                                langTable.ajax.reload()
                            } else {
                                toastr.error('Action Failed!')
                            }
                        }
                    })
                }
            })
        })
    })
</script>
